body {
    background: linear-gradient(to bottom, #f0f4f8, #d9e2ec);
    font-family: 'Figtree', sans-serif;
}

h1 {
    color: #4a5568;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bg-white {
    background-color: #ffffff;
    border-radius: 8px;
}

.bg-gray-100 {
    background-color: #f7fafc;
}
